<article>
    <h3><a href="{{ url('article', {articleId: article.id}) }}">{{article.title}}</a></h3>
    <div class="content">
        <p>{{article.content}}</p>
        <p class="date">{{article.createdAt.date}}</p>
    </div>
</article>
