{% extends "::base.html.twig" %}
{% block title %}
    Welcome!
{% endblock %}
{% block h1 %}
    <h1 class="title">Welcome!</h1>
{% endblock %}
{% block loginform %}{% endblock %}
{% block body %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
{% endblock %}